html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "HelveticaNeue", arial, helvetica sans-serif;
  background: #0B3861 ;
  font-size: 0.875em;
  line-height: 1.3; }

#pages {
  position: relative;
  background: #37040a  }

@media only screen and (max-device-width: 480px) {
  body {
    min-height: 480px; } }

a {
  color: #ebc466;
  font-weight: bold; }
  
#tab-bar {
  zoom: 1;
  background: #050405;
  border-bottom: 1px #441d22 solid;
  position: relative;
  z-index: 200;
  -webkit-user-select: none;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0; }
  #tab-bar:before, #tab-bar:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  #tab-bar:after {
    clear: both; }
  .cssgradients #tab-bar {
    background-image: -moz-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    background-image: -ms-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    background-image: -o-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#353535), color-stop(0.55, #212021), color-stop(0.551, #090809), to(#050405));
    background-image: -webkit-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    background-image: linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405); }
  #tab-bar li {
    display: inline;
    float: left;
    width: 100%; }
  #tab-bar a {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    color: #cdcdcd;
    display: block;
    font-size: 0.857em;
    font-weight: bold;
    height: 4.583em;
    min-height: 55px;
    margin: 0 0.833em;
    overflow: hidden;
    padding-top: 0.428em;
    position: relative;
    text-align: center;
    text-decoration: none; 
  }
  

#tab-logger a {
  -webkit-border-bottom-left-radius: 0.286em;
  -webkit-border-bottom-right-radius: 0.286em;
  -moz-border-radius-bottomleft: 0.286em;
  -moz-border-radius-bottomright: 0.286em;
  border-bottom-left-radius: 0.286em;
  border-bottom-right-radius: 0.286em;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: black 0 0 4px 0;
  -webkit-box-shadow: black 0 0 4px 0;
  -moz-box-shadow: black 0 0 4px 0;
  box-shadow: black 0 0 4px 0;
  background: #d5d2d2;
  color: #111111;
  height: 2.0em;
  min-height: 30px;
  margin: 0 0 -0.367em; 
}




#tab-logger a:after {
    clip: rect(0 191px 33px 140px);
    margin-left: -165px;
    width: 190px; 
}


/** Form for the incident logger */
.page-logger form {
  background: #566D7E;
  border-top: 1px #8c2a34 solid;
  padding: 0.65em 0 0; 
}
.page-logger fieldset {
  padding-left: 0.5em;
  padding-right: 0.5em; 
}
.page-logger label {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
  color: white;
  display: block;
  font-size: 0.75em;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase; 
}

.page-logger input {
  -webkit-border-radius: 0.286em;
  -moz-border-radius: 0.286em;
  border-radius: 0.286em;
  background: #F4F4F9;
  border: 1px #F4F4F9 solid;
  display: block;
  font-size: 1.3em;
  margin: 0.3em 0 0.5em;
  padding: 0;
  height: 2em;
  width: 96%;
  padding: 0.3em 2%;
  -webkit-background-clip: padding-box; }
  .page-logger input:focus {
    background: white; }
.page-logger input::-webkit-input-placeholder {
  color: #856969; }
.page-logger input:-moz-placeholder {
  color: #856969; }


/** CSS for the mobile button */
#save {
  background: #EEEEF0;
  border-top: 1px #EEEEF0 solid;
  padding-top: 0.65em;
  padding-bottom: 0.65em; 
}
  
#save button {
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    -webkit-border-radius: 0.286em;
    -moz-border-radius: 0.286em;
    border-radius: 0.286em;
    -o-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px 0 inset;
    font-family: "HelveticaNeue", arial, helvetica sans-serif;
    background: #B72E43;
    border: 1px #3c0603 solid;
    color: #FFFFFF;
    display: block;
    letter-spacing: 0;
    font-size: 1.14em;
    font-weight: bold;
    padding: 0.55em 0.8em 0.65em;
    position: relative;
    text-decoration: none;
    margin: 0;
    -webkit-background-clip: padding-box;
    width: 100%; }


.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden; }

